Repository qbedard/dotfiles, changes with the labels that .github/labeler.yml gives for each.
All labels: docker, fish, script, shell, vim

.github/labeler.yml:

docker:
  - Dockerfile
fish:
  - shell/fish/*
script:
  - scripts/*
shell:
  - shell/*
vim:
  - vim/*

fix jedi/tmux map conflict
  vim/init.vim
Labels: vim

rm unneeded vim-markdown, disable black manual config
  vim/init.vim
Labels: vim

add brew ruby/gem to path
  shell/fish/config.fish
Labels: fish

add finer font size maps to kitty.conf if desired in the future
  kitty.conf
Labels: none

terraform ale, formatting
  vim/ftplugin/terraform.vim
  vim/init.vim
Labels: vim

more terraform support
  vim/init.vim
Labels: vim

python instant-markdown
  vim/init.vim
Labels: vim

commentframe fidgets
  vim/ftplugin/commentframe.vim
  vim/init.vim
Labels: vim

vim animate/lens for later
  vim/init.vim
Labels: vim

set fzf Ctrl+T cmd to include hidden files
  shell/fish/config.fish
Labels: fish

update dockerfile, rm link script
  Dockerfile
  scripts/link.sh
Labels: docker, script

fix fish bin loc
  Dockerfile
Labels: docker

switch to non-auto tmux session for now
  config/.config/fish/config.fish
Labels: none

re-enable markdown header hl
  config/.config/nvim/init.vim
Labels: none

add bat gruvbox, fix zsh issues, etc
  config/.bashrc
  config/.config/bat/config
  config/.config/bat/themes/gruvbox.tmTheme
  config/.config/nvim/init.vim
  config/.zshrc
Labels: none

fix fzf commands for show hidden, hide .git/.direnv
  config/.config/fish/config.fish
Labels: none

badass fzf preview funcs/opts
  config/.config/fish/config.fish
Labels: none

CTRL-O to open files with fzf
  config/.config/fish/config.fish
Labels: none

add file preview for CTRL-O
  config/.config/fish/config.fish
Labels: none

use bat as man pager
  config/.config/fish/config.fish
Labels: none

more fishy env var exports
  config/.config/fish/config.fish
Labels: none

try markdown-preview.nvim
  config/.config/nvim/init.vim
Labels: none

fix gruvbox sign/fold col color issues
  config/.config/nvim/init.vim
Labels: none

try out vim-signify instead of vim-gitgutter
  config/.config/nvim/init.vim
Labels: none

signify tweaks
  config/.config/nvim/init.vim
Labels: none

try fix for stupid nvim COLORTERM issue
  config/.config/fish/config.fish
  config/.config/nvim/init.vim
Labels: none

trim white space
  Dockerfile
Labels: docker

fix typo
  scripts/ubuntu/install.sh
Labels: none

rm unneeded Dockerfile.vim
  config/.config/nvim/init.vim
Labels: none

add set number and gruvbox to minimal.vim
  config/.config/nvim/minimal.vim
Labels: none

css spaces
  config/.config/nvim/indent/css.vim
Labels: none

COLORTERM fix
  config/.config/fish/colorterm-fix.fish
  config/.config/fish/config.fish
Labels: none

cleanup
  config/.config/nvim/init.vim
Labels: none

fix quotes
  config/.config/nvim/init.vim
Labels: none

try out opacity
  config/.config/kitty/kitty.conf
Labels: none

rm extra space
  config/.config/nvim/init.vim
Labels: none

add css ftplugin to disable sleuth
  config/.config/nvim/ftplugin/css.vim
Labels: none

switch to inline tmux theme, add zoom indicator
  config/.tmux.conf
Labels: none

add fancy junegunn goyo + limelight
  config/.config/nvim/init.vim
Labels: none

note about fasd and fish
  config/.config/fish/install.fish
Labels: none
