Repository qbedard/dotfiles, changes with the labels that .github/labeler.yml gives for each.
All labels: docker, fish, script, shell, vim

switch docker to use fish
  Dockerfile
Labels: docker

switch docker to use fish
  Dockerfile
Labels: docker

add ref script to fix fish completions on catalina
  shell/fish/catalina-fix.fish
Labels: fish

rm git alias (handled by omf)
  shell/fish/config.fish
Labels: fish

fix la abbr
  shell/fish/config.fish
Labels: fish

add ls abbrs
  shell/fish/config.fish
Labels: fish

big cleanup
  alacritty.yml
  ranger/commands.py
  ranger/rc.conf
  ranger/rifle.conf
  ranger/scope.sh
  scripts/link.sh
  scripts/lua.sh
  scripts/mac/bootstrap.sh
  scripts/mac/config.sh
  scripts/mac/install.sh
  scripts/python.sh
  scripts/ubuntu/bootstrap.sh
  scripts/ubuntu/install.sh
  shell/common.sh
  shell/fish/config.fish
Labels: fish, script, shell

ad ftdetect/gitconfig for .gitconfig*
  vim/ftdetect/gitconfig.vim
Labels: none

add Brewfile
  Brewfile
Labels: none

install cmd line tools
  scripts/mac/install.sh
Labels: none

fix Alt issues, testing no vim-tmux-navigator
  kitty.conf
  tmux.conf
  vim/init.vim
Labels: vim

missed C-l too much
  tmux.conf
Labels: none

switch mac install to use brew bundle
  scripts/mac/install.sh
Labels: none

TERMINFO fix for lazydocker
  shell/fish/config.fish
Labels: fish

more holistic solution to lazydocker TERMINFO issue
  shell/fish/config.fish
  tmux.conf
Labels: fish

fix tmux color env alias
  shell/fish/config.fish
Labels: fish

save prev name just in case
  tmux.conf
Labels: none

fix gruvbox colors (req ~/.dotfiles
  scripts/link.sh
  shell/fish/catalina-fix.fish
  shell/fish/config.fish
  shell/fish/gruvbox_colors.fish
Labels: fish, script

clarify comment
  Brewfile
Labels: none

rm todo
  todo.md
Labels: none

abolish which
  vim/after/plugin/abolish.vim
Labels: none

add alias gf git fetch
  shell/fish/config.fish
Labels: fish

slightly better layout_poetry
  direnvrc
Labels: none

abolish mdoles
  vim/after/plugin/abolish.vim
Labels: none

alias/map tweaks
  shell/fish/config.fish
  vim/init.vim
Labels: fish, vim

fix direnvrc poetry layout
  direnvrc
Labels: none

alias fixes
  shell/fish/config.fish
Labels: fish

add to gutentags exclude types
  vim/init.vim
Labels: vim

add fish colortest function
  shell/fish/config.fish
Labels: fish

fix fzf/fish/gruvbox interaction (WHY?)
  kitty.conf
  shell/fish/config.fish
  tmux.conf
Labels: fish

temp lazydocker fix
  shell/fish/config.fish
  tmux.conf
Labels: fish

add rust tools to path
  shell/fish/config.fish
Labels: fish

enable pyls for ALE
  vim/ftplugin/python.vim
  vim/init.vim
Labels: vim

venv tweaks
  vim/init.vim
Labels: vim

add ale gd GotoDefinition nmap
  vim/init.vim
Labels: vim

add ale nmaps
  vim/init.vim
Labels: vim

potentially handy future ale config
  vim/init.vim
Labels: vim

hell yes jedi-vim with deoplete completions
  vim/ftplugin/python.vim
  vim/init.vim
Labels: vim

replace echodoc with jedi call sigs
  vim/init.vim
Labels: vim

whoops, don't need this option
  vim/init.vim
Labels: vim

.github/labeler.yml:

docker:
  - Dockerfile
fish:
  - shell/fish/*
script:
  - scripts/*
shell:
  - shell/*
vim:
  - vim/*
